.burger__icon {
    height: 24px;
    width: 18px;
    margin: 12px 30px 0 12px;
    cursor: pointer;
    z-index: 3;
    position: relative;
}
.burger__icon span {
    height: 2px;
    width: 100%;
    display: block;
    position: absolute;
    top: 50%; transform: translateY(-50%);
    background-color: rgb(0, 0, 0);
    transition: all ease-in-out .1s;
}
.burger__icon span::before, .burger__icon span::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: rgb(0, 0, 0);
}
.burger__icon span::before {
    transform: translateY(-5px);
    transition: all ease-in-out .3s;
}
.burger__icon span::after {
    transform: translateY(5px);
    transition: all ease-in-out .3s;
}
.burger__icon.active span{
    background-color: rgba(0, 0, 0, 0);
}

.burger__icon.active span::before {
    transform: translateY(0px) rotateZ(45deg);
}
.burger__icon.active span::after {
    transform: translateY(0px) rotateZ(-45deg);
}
.burger__sidebar {
  position: absolute;
  background: white;
  z-index: 2;
  height: 100vh;
  width: 350px;
  display: flex;
  flex-direction: column;
  top: 0;right: 0;margin: 0 -400px 0 0;
}
.burger__sidebar.open {
  top: 0;right: 0;margin: 0 -400px 0 0;
  animation: side-open .5s forwards;
}
@keyframes side-open {
    100% {margin: 0 0px 0 0;}
}
.burger__sidebar.close {
  top: 0;right: 0;margin: 0 0px 0 0;
  animation: side-close .5s forwards;
}
@keyframes side-close {
    100% {margin: 0 -400px 0 0;}
}
.burger__sidebar li{
    margin: 40px 100px 0px 40px;
  }
.burger__sidebar li:nth-child(8){
  margin-top: 80px;
}
.burger__sidebar li::after{
  content: '';
  position: absolute;
  width: 80%;
  left: 35px;
  margin-top: 35px;
  height: 1px;
  background-color: rgb(0, 0, 0);
}

.burger__sidebar li:nth-child(-n+7),
.burger__sidebar li:nth-child(n+21),
.burger__sidebar li:nth-child(18),
.burger__sidebar li:nth-child(19) {
  display: none;
}