@media screen and (max-width: 1000px) {
    .Models__title {
        text-align: center;
        max-width: 80%;
    }
}

@media screen and (max-width: 850px) {
    .Model3 {
        background-image: url("../img/mobile_model_3_v2.jpg");
    }
    .ModelS {
        background-image: url("../img/Mobile-ModelS.jpg");
    }
    .ModelX {
        background-image: url("../img/Mobile-ModelX.jpg");
    }
    .ModelY {
        background-image: url("../img/Mobile-ModelY.jpg");
    }
    .SolarPanels {
        background-image: url("../img/Mobile-SolarPanels.jpg");
    }
    .Accessories {
        background-image: url("../img/Mobile-Accessories.jpg");
    }
    .Models .inputs {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    @keyframes side-right {
        100% {
            color: rgb(0, 0, 0);
            background: rgba(255, 255, 255, 0.7);
            margin: 10px 0;
        }
    }
    
}

@media screen and (max-width: 550px) {
    .Models__title {
        font-size: 25px;
    }
    @keyframes top-open {
        100% {
            bottom:220px;
            color: rgba(0, 0, 0, 0.8);
        }
      }
    h2.Models__subtitle {
        font-size: 14px;
    }
    .Models__subtitle {
        font-size: 10px;
    }
    .Models button {
        width: 80vw;
    }
    .Models button,
    .Models__input_infos {
        top: 250px;
    }
    .Models__grade{
        width: 80%;
    }
    .Models__grade,
    .Models__grade_img{
        top: 270px;
    }
    @keyframes top-fade {
        100% {
            opacity: 1;
            top: 270px;
        }
      }
    @keyframes Arrow-loop {
        from {
          top: 270px;
        }
        10% {
          top: 275px;
        }
        20% {
          top: 270px;
        }
        30% {
          top: 275px;
        }
        40% {
          top: 270px;
        }
        to {
          top: 270px;
        }
      }
}