a {
    text-decoration: none;
    color: black;
}
ul {
  padding: 0;
}
li {
  list-style: none;
}
.nav__bar {
  display: flex;
  flex-direction: row;
  position: fixed;
  font-weight: 600;
  width: 100%;
}
.nav__bar__logo{
  position: relative;
  width: 120px;
  bottom: 15px;
}
.nav__bar_center {
  display: flex;
  width: 100%;
  flex-direction: row;
  position: relative;
  left: 70px;
  justify-content: center;
}
.nav__bar_center li {
  margin: 0 10px;
}
.nav__bar_right {
  display: flex;
}
.nav__bar_right li{
  margin: 0px 10px;
}
.nav__bar_center li:nth-child(n+7) {
  display: none;
}
@media screen and (max-width: 1200px) {
  .nav__bar_center,
  .nav__bar_right {
    display: none;
  }
  .nav__bar {
    justify-content: space-between;
  }
}